<h1>Cryptocurrency Live Values</h1>
 <div>
  <img src="/Icons/Cryptocurrency-gold-rush.png" alt= "crypto">
</div>
 <div>
</div>
 <div>
   <h2>Listed Currencies</h2>
<p></p>

<table>
  <tr>
    <th>Coin</th>
    <th>Market Cap</th>
    <th>Price</th>
  </tr>
  <tr>
    <td><img src="/Icons/btc.png" alt="" class="crypto-imgs" ></img>BitCoin</td>
    <td id="mrktCap"></td>
    <td id="mrktPrice"></td>
  </tr>
  <tr>
    <td><img src="/Icons/eth.png" alt="" class="crypto-imgs"></img>Ethereum</td>
    <td>...</td>
    <td>...</td>
  </tr>
  <tr>
    <td><img src="/Icons/xrp.png" alt="" class="crypto-imgs"></img>XRP</td>
    <td>...</td>
    <td>...</td>
  </tr>
  <tr>
    <td><img src="/Icons/bch.png" alt="" class="crypto-imgs"></img>Bitcoin Cash</td>
    <td>...</td>
    <td>...</td>
  </tr>
  <tr>
    <td><img src="/Icons/eos.png" alt="" class="crypto-imgs"></img>EOS</td>
    <td>...</td>
    <td>...</td>
  </tr>
</table>
