<h1>Cryptocurrency Live Values</h1>
 <div>
  <img src="/Icons/Cryptocurrency-gold-rush.png" alt= "crypto">
</div>
 <div>
</div>
 <div>
   <h2>Listed Currencies</h2>
<p></p>

<table>
  <tr>
    <th>Coin</th>
    <th>Market Cap</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Bitcoin</td>
    <td>...</td>
    <td>...</td>
  </tr>
  <tr>
    <td>Ethereum</td>
    <td>...</td>
    <td>...</td>
  </tr>
  <tr>
    <td>XRP</td>
    <td>...</td>
    <td>...</td>
  </tr>
  <tr>
    <td>Bitcoin Cash</td>
    <td>...</td>
    <td>...</td>
  </tr>
</table>
