body {
  padding: 50px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: grey;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


h1 {
  color: black;
  text-align: center;
}

a {
  color: #00B7FF;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
  color: white;
  background-color: #1c1e22;
  text-align: left;
  padding: 8px;
}

td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
