body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: grey;
  text-align: center;
}

h1 {
  color: #00B7FF;
  text-align: center;
}

a {
  color: #00B7FF;
}
